@import 'variables';

.offer {
    width: 100%;

    strong{
      font-weight: bold;
    }

    .naviOfferBox {
        background-color: $mainColor2;
        width: 100%;

        .naviOffer {
            width: 100%;
            max-width: 1070px;
            margin: 0 auto;
            text-align: center;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 15px;

            .offerButton {
                display: block;
                width: 150px;
                line-height: 70px;
                color: white;
                height: 150px;
                margin: 10px auto;
                border: 1px solid white;
                transition: 500ms;
                -webkit-box-shadow: 0 0 20px -2px rgba(0,0,0,0.75);
                -moz-box-shadow: 0 0 20px -2px rgba(0,0,0,0.75);
                box-shadow: 0 0 20px -2px rgba(0,0,0,0.75);
                cursor: default;
                text-decoration: none;

                &:hover {
                    background-color: lighten($mainColor2, 5%);
                    -webkit-box-shadow: inset 0 0 43px -2px rgba(0,0,0,0.75);
                    -moz-box-shadow: inset 0 0 20px -2px rgba(0,0,0,0.75);
                    box-shadow: inset 0 0 20px -2px rgba(0,0,0,0.75);
                    transition: 500ms;
                }

                span {
                    display: block;
                    font-size: 1.6rem;
                    font-weight: 300;
                }
            }

            .activeOfferButton {
                background-color: lighten($mainColor2, 5%);
                -webkit-box-shadow: inset 0 0 43px -2px rgba(0,0,0,0.75);
                -moz-box-shadow: inset 0 0 20px -2px rgba(0,0,0,0.75);
                box-shadow: inset 0 0 20px -2px rgba(0,0,0,0.75);
                transition: 500ms;
            }
        }
    }

    .offerGroup {
        width: 800px;
        margin: 0 auto;
        text-align: left;
        padding-top: 60px;
        padding-bottom: 10px;
        margin-bottom: 20px;
        border-bottom: 1px solid dimgray;

        .offerImage {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            align-items: center;

            img {
                display: block;
                width: 45%;
                height: auto;
                margin: 20px auto;

            }
        }

        h2 {
            margin: 20px 0;
            font-size: 1.7rem;
        }

        p {
            font-size: 1.7rem;
            margin-bottom: 20px;
        }

        p.margin {
          margin-top: 30px;
          margin-bottom: 10px;
        }

        .offerTable {
            margin: 10px auto;
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            font-size: 1.7rem;
            line-height: 3.4rem;

            .subtitle {
                width: 100%;
                margin: 20px 0;
                line-height: normal;

            }

            .nazwa {
                display: block;
                width: 40%;
                border-right: 1px solid dimgray;

            }

            .cena {
                width: 15%;
                display: block;
                text-align: center;
                border-right: 1px solid dimgray;
            }

            .empty {
                width: 15%;
                display: block;
            }
        }
    }

    .promoDiv {
        background-color: $mainColor2;
        padding: 17px;
        margin: 0 auto;
        font-size: 1.7rem;
        font-weight: 300;
        line-height: 3.4rem;
        color: white;
        height: 140px;
        width: 100%;
        text-align: center;
        -webkit-animation: promo 10s infinite;
        animation: promo 10s infinite;

        span{
          font-weight: bold;
        }

        @-webkit-keyframes promo {
            0% {
                opacity: 0;
                width: 0;
            }

            20% {
                width: 100%;
                opacity: 1;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        @keyframes promo {
            0% {
                opacity: 0;
                width: 0;
            }

            20% {
                width: 100%;
                opacity: 1;
            }

            90% {
                opacity: 1;
            }

            100% {
                opacity: 0;
            }
        }

        p:nth-child(1) {
            -webkit-animation: promoOne 10s infinite;
            animation: promoOne 10s infinite;

            @-webkit-keyframes promoOne {
                0% {
                    transform: rotateX(90deg);
                }

                30% {
                    transform: rotateX(90deg);
                }

                35% {
                    transform: rotateX(0deg);
                }

                76% {
                    transform: rotateX(0deg);
                }

                77% {
                    transform: rotateX(90deg);
                }

                100% {
                    transform: rotateX(90deg);
                }
            }
            @keyframes promoOne {
                0% {
                    transform: rotateX(90deg);
                }

                30% {
                    transform: rotateX(90deg);
                }

                35% {
                    transform: rotateX(0deg);
                }

                76% {
                    transform: rotateX(0deg);
                }

                77% {
                    transform: rotateX(90deg);
                }

                100% {
                    transform: rotateX(90deg);
                }
            }
        }

        p:nth-child(2) {
            -webkit-animation: promoTwo 10s infinite;
            animation: promoTwo 10s infinite;

            @keyframes promoTwo {
                0% {
                    transform: rotateX(90deg);
                }

                35% {
                    transform: rotateX(90deg);
                }

                40% {
                    transform: rotateX(0deg);
                }

                74% {
                    transform: rotateX(0deg);
                }

                75% {
                    transform: rotateX(90deg);
                }

                100% {
                    transform: rotateX(90deg);
                }
            }
            @-webkit-keyframes promoTwo {
                0% {
                    transform: rotateX(90deg);
                }

                35% {
                    transform: rotateX(90deg);
                }

                40% {
                    transform: rotateX(0deg);
                }

                74% {
                    transform: rotateX(0deg);
                }

                75% {
                    transform: rotateX(90deg);
                }

                100% {
                    transform: rotateX(90deg);
                }
            }
        }

        p:nth-child(3) {
            -webkit-animation: promoThree 10s infinite;
            animation: promoThree 10s infinite;

            @keyframes promoThree {
                0% {
                    transform: rotateX(90deg);
                }

                40% {
                    transform: rotateX(90deg);
                }

                45% {
                    transform: rotateX(0deg);
                }

                72% {
                    transform: rotateX(0deg);
                }

                73% {
                    transform: rotateX(90deg);
                }

                100% {
                    transform: rotateX(90deg);
                }
            }

            @-webkit-keyframes promoThree {
                0% {
                    transform: rotateX(90deg);
                }

                40% {
                    transform: rotateX(90deg);
                }

                45% {
                    transform: rotateX(0deg);
                }

                72% {
                    transform: rotateX(0deg);
                }

                73% {
                    transform: rotateX(90deg);
                }

                100% {
                    transform: rotateX(90deg);
                }
            }
        }
    }
}

@media (max-width:1000px) {

    .offer {

        .naviOfferBox {

            .naviOffer {
                max-width: 750px;
            }
        }

        .offerGroup {
            width: 80%;
            padding-top: 40px;
        }

        .offerImage {

            img {
                width: 50%;
                height: auto;
            }
        }
    }
}

@media (max-width:700px) {

    .offer {

        .naviOfferBox {

            .naviOffer {
                max-width: 600px;

                .offerButton {
                    width: 130px;
                    height: 130px;
                    margin: 10px 5px;
                    line-height: 60px;

                    span {
                        font-size: 1.4rem;
                    }

                    img {
                        transform: scale(0.8, 0.8);
                        -ms-transform: scale(0.8, 0.8);
                        -webkit-transform: scale(0.8, 0.8);
                    }
                }
            }
        }

        .offerGroup {
            width: 470px;
            padding-top: 20px;

            .offerImage {

                img {
                    display: block;
                    width: 70%;
                    height: auto;
                }
            }
        }
    }
}

@media (max-width:500px) {

    .offer {

        .offerGroup {
            width: 93%;
            margin-top: 0;

            h2 {
                font-size: 1.5rem;
            }

            p {
                font-size: 1.5rem;
            }

            p.margin {
              margin-top: 20px;
              margin-bottom: 10px;
            }

            .offerTable {
                font-size: 1.4rem;
            }

            .offerImage {

                img {
                    width: 80%;
                }
            }
        }
    }
}
@media (min-width:1530px) {

    .offer {

        .offerGroup {
            width: 700px;
            min-height: 400px;
            margin: 80px auto;
            position: relative;

            .offerImage {
                display: block;
                position: absolute;
                top: 0;
                left: 0;

                img:nth-child(1) {
                    width: 350px;
                    position: absolute;
                    top: 85px;
                    left: -400px;
                }

                img:nth-child(2) {
                    width: 350px;
                    position: absolute;
                    top: 85px;
                    left: 750px;
                }
            }

            h2 {
                width: 800px;
                margin: 30px 0;
                font-size: 1.7rem;
            }
        }
    }
}
